.jumbotron {
  background-image: url("../img/backgrounds/landing.jpg");
  padding-bottom: 8%;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

p.light {
  font-weight: lighter;
  font-family: serif;
  font-size: 50px;
  color: white;
}

.block2 {
  max-width: 100%;
  margin: 80px% auto% 0 auto%;
  line-height: 1.65;
  padding-left: 0%;
  display: flex;
}

.column1 {
  flex: 1;
  background-color: orange;
}

.column3 {
  flex: 1;
  background-image: url("../img/foodtop/breakfast.jpg");
  text-align: center;
  color: white
}

.column4 {
  flex: 1;
  background-image: url("../img/foodtop/lunch.jpg");
  text-align: center;
  color: white;
}

.column5 {
  flex: 1;
  background-image: url("../img/foodtop/dinner.jpg");
  text-align: center;
  color: white;
}
